<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
     <a href="/">Home</a>
     <a href="/about/">About</a>
    <h1>About Princewill</h1>
    <p>Princewill is a 24-year-old computer science student at Houston Community College.</p>
</body>
</html>